.wrapper{
    position: absolute;
    right: 50%;

    transform-origin: bottom left;
    transition: .3s linear;
}

.second{
    margin-left: -1px;
    top: 20px;
    width: 2px;
    height: 130px;
    background: #fff;
}

.minute{
    margin-left: -1px;
    width: 2px;
    height: 100px;
    top: 50px;
    background: #d7d7d7;
}

.hour{
    width: 3px;
    margin-left: -1.5px;
    height: 75px;
    top: 75px;
    background: red;
}